* {
    font-family: 'arial';
}

#section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
div {
    width: auto;
    margin-bottom: 23px;
}

p {
    border: 2px solid #ccc;
    background-color: azure;
    padding: 10px;
    height: 100%;
}

