body {
    font-family: 'arial', '微軟正黑體';
    padding: 0px;
    nav {
        position: fixed;
        background-color: #f44336;
        color: #ffffff;
        // box-shadow: h-offset v-offset blur spread color;
        box-shadow: 0px -3px 10px 3px #000000;
        z-index: 2;
        height: 60px;
        width: 100%;
        ul {
            display: flex;
            padding: 0px;
            margin: 0px;
            li {
                list-style-type: none;
                padding: 20px 30px;
                font-size: 16px;
            }
        }
    }
    header {
        background-color: #f44336;
        padding: 10px;
        z-index: 1;
        width: 100%;
        text-align: center;
        color: #ffffff;
        font-weight: 100;
        h1 {
            margin-top: 90px;
            margin-bottom: 50px;
            font-size: 52px;
            font-weight: 100;
        }
        p {
            font-weight: 100;
            margin-bottom: 60px;
            font-size: 18px;
        }
        button {
            margin-bottom: 130px;
            border: none;
            font-weight: 100;
            padding: 12px 30px;
            color: #ffffff;
            background-color: #000000;
            font-size: 20px;
            cursor: pointer;
        }
    }
    section {
        display: block;
        height: 1000px;
    }
}
